/* Caratteristiche generali */

* {
  font-family: 'Assistant', sans-serif;
}

.float_left {
  float: left;
}


/* Dimensione blocchi principali */

main {
  height: 85vh;
}

.contenuti {
  background-image: linear-gradient(to bottom right, #285A2F , #09140A);
  height: 100%;
  overflow: auto;
}

footer {
  height: 15vh;
  background-color: #282828;
}


/* Caratteristiche "Aside" (menù-sx) */

aside {
  width: 230px;
  background-color: #09140A;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link_top {
  padding: 10px 0 0 15px;
}

#logo {
  width: 80%;
}

.voce_menu_sx {
  margin: 10px 0 -5px 10px;
  height: 40px;
  color: grey;
}

.voce_menu_sx span {
  margin-left: 20px;
  font-size: 1.1em;
  font-weight: bold;
}

.home.voce_menu_sx {
  color: #fff;
}

.voce_menu_sx:hover {
  color: #fff;
  cursor: pointer;
}

.link_bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.link_bottom button {
  width: 180px;
  margin-bottom: 20px;
  border-radius: 20px;
  height: 35px;
  border: 0;
  font-weight: bold;
  color: #000;
}

#btn_accedi {
  background-color: #141414;
  color: #fff;
  border: solid 2px #fff;
}

.link_bottom a {
  color: grey;
}


/* Caratteristiche "Contenuti" */

  /* Caratteristiche "menu_top" */

.menu_top {
  display: flex;
  justify-content: space-around;
  margin: 35px 200px;
  font-weight: bold;
  font-size: 1.1em;
  flex-wrap: wrap;
}

.menu_top a {
  color: grey;
  text-decoration: none;
  margin: 5px 10px;
  white-space:nowrap;
}

.menu_top a:hover {
  color: #fff;
}

#in_evidenza {
  color: #fff;
  border-bottom: 2px solid #1ED760;
}

  /* Caratteristiche "creato_per_te" */

.creato_per_te {
  margin: 50px 0 100px 50px;
}

.creato_per_te h1 {
  color: #fff;
  font-weight: bold;
}

.raccolta {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% / 7);
  margin: 10px;
}

.album img {
  width: 100%;
  height: auto;
}

.album p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
